/* 
colors
paleturquoise
#EA3C53 
*/


/* ******Header*********/

body{
    color:#a7a7ab;

}

.title{
    width: auto;
    position: absolute;
    top:43%;
    left:14%;
    font-family: "Hind",sans-serif;
}

h2{
    color: #333;
    font-size: 32px;
    font-weight: 500px;
 
}

p{
    color: #a7a7ab;
    font-family: "Hind", sans-serif;
    font-size: 15px;
    font-weight: 400px;
    line-height: 21px;
}

.title-name{
    color: #17bed2;
    font-size: 45;
   
    font-weight: 600;
    text-transform: uppercase;
}

.sub-title{
    color:#EA3C53 ;
    font-size: 25px;
    line-height: 25px;
    border-bottom: 0.1px solid whitesmoke;
    padding-bottom: 15px;
}

span{
    color: white;
}


.header-container{
    width: 100%;
    height: 661;
    min-height: 300px;
    background: url("/Images/P1.JPG");
    background-size: cover;
    background-repeat: no-repeat;
    padding-bottom: 2px;
    position: relative;
    margin-bottom: 100px;
  
}

.header-container::before{
    content: "";
    position: absolute;
    width: 100%;
    height: 661px;
    background: linear-gradient(90deg, #00000088 60%, #ffffff44 100%);
  
}






/******** Navbar******* */

.navbar-container{
    position: absolute;
    width: 100%;
}

.navbar{
    background-color: transparent;
    border-bottom: 0.1px solid whitesmoke;
    padding-bottom: 10px;
}

.nav-item{
    padding-right: 1rem;
    font-family: "Hind",;
    font-size: 14px;
    font-weight: 500px;
    text-transform: uppercase;
}

.nav-link{
    color: white;
}

.nav-link:hover{
    color: paleturquoise;
}

.nav-link:active:visited {
    color: paleturquoise;
}

.custom-toggler{
    border: 2px solid white;
    color: rgb(255, 255, 255);
}

.custom-toggler .navbar-toggler-icon {
    background-image: url(
    "data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgb(255, 255, 255)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
}

.custom-toggler:hover{
    border: 3px solid white;
}

.navbar-toggler:focus {
    box-shadow: 0 0 0 0;
  }

  .navbar.scrolled{
    background: #17bed2;
    transition: 0.7s;
}


/* section about me */

.about-descrip{
    padding-right: 100px;
    padding-top: 30px;
    padding-left: 20px;
}

.about-image{
    width:250px;
    height: auto;
    align-content: center;
    /* padding-top: 20px; */
    border: 3px solid #17bed2;
}

.beta2{
    padding-left: 88px;
}


/* ******Experience Section******* */

.card{
    border-style: solid;
    height: 234px;
    width: 100%;
}

 .card-1{
    padding-right: 4px;
    padding-left: 4px;
}

.card-2,.card-3{
    padding-right: 4px;
    padding-left: 4px;
}

.card-2{
    background-color: #17bed2;
}

.card{
    border-style: none;
    border-radius: 0%;
    height: auto;
    
}


.card-1,.card-3{
    background-color: white;
}

.card-middle{
    background-color: #17bed2;
    color: white;
}

.card-set{
    padding: 40px 100px;
}

.experience{
    background-color: #fafafa;
    padding-top:50px;
    margin: 50px 50px;
    padding-bottom:50px;
    margin-left: 0;
    margin-right: 0;
}

h5{
    color: #333;
}

#card-middle{
    color: white;
}

.card-icon{
    padding: 10px;
    width:50px;
}

.card-body{
    padding: 30px;
}

.card-text{
    margin: 15 0;
}

.card-title{
    margin-top: 10px;
}
/* *******Skills Section********* */

.skills-icon{
    width: 200px;
    height: auto;
}

.send-message{
    margin-bottom: 100px;
    background-color: #fafafa;
    padding-top: 50px;
    padding-bottom:50px;
}

/* ****** Message Section****** */

.con-sub{
    background-color: #17bed2;
    padding: 100;
    border-radius: 1rem;
}

.con-sub{
    padding: 5rem;
}

@media screen and (max-width: 768px) { 
    .navbar {
      position: relative !important;
    }
  }